h1{
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h4{
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-weight: 300;
    color:rgb(127, 127, 127);
}

figcaption{
    position: absolute;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(127, 127, 127);
}

p{
    line-height: 130%;
    font-family:"EB Garamond", serif;
}

.container {
    display: flex; 
    align-items: center;
    max-width: 1600px; 
}

.container2 {
    width: 80%;
    max-width: 1600px; 
    align-items: center;
    padding: 0 4%;
}


img {
    width: 100%;
    height: auto;
}

.text {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-size: large;
    margin-right: 0%;
    text-align: center;
}


figure {
    width: 600px;
    float: left;
    margin-right: 40px;
    margin-top: 0px;
}

.clearfix::after {
    content: "";
    clear: both;          
    display: table;
}

.text1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(127, 127, 127);
}

.text2{
    line-height: 130%;
    font-family:"EB Garamond", serif;
    color: rgb(91, 91, 91);

}