contyainer{
    padding:24px;
}


body {
    font-family: 'Jacquarda Bastarda 9', sans-serif;
    line-height: 1.4;
    height: 100%;
    text-decoration-color: mediumspringgreen;
}


.neon{
    color:mediumspringgreen;
}

h3{
    padding-bottom: 20px;
    
}

