* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html,
    body {
    height: 100%;
    }
    body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: papayawhip;
    align-items: center;
    }

    main, header, footer {
        padding: 20px;
        border: 1px solid #000000;
        color: #141414;
        }

        header,
        footer {
        height: 20vh;
        }
        main {
        height: 160vh;
        }
.invite-container{
    padding:200px
}
.section{
    padding-bottom:30px;
}

.light{
    color:lightgray
}
.dark{
    font-weight: bold;
}
.small{
    font-size: 12px;
}
.big{
    font-size: 24px;
}